/**
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3 of the License.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
 * Other licensing options may be available, please reach out to data-viz@feedzai.com for more information.
 */

/* The Modal (background) */
.shortcut-guide {
	display: block;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
	font-family: "Open Sans", sans-serif;
	font-size: small;
	color: #f5f5ff;
}

/* Modal Content/Box */
.shortcut-guide__container {
	margin: 7% auto; /* 7% from the top and centered */
	padding: 1rem 2rem; /* 1rem padding top/bottom and 2rem left/right */
	border: 1px solid #888;
	width: 80%; /* Adjust based on screen size */
	border-radius: 21px;
	background: rgba(0, 0, 0, 0.77);
	backdrop-filter: blur(6.5px);
}

/* The Close Button */
.shortcut-guide__button {
	color: #aaa;
	font-size: 25px;
	background: transparent no-repeat;
	border: none;
	height: 2rem;
	cursor: pointer;
	margin: 0;
}

.shortcut-guide__button:hover,
.shortcut-guide__button:focus {
	color: black;
	text-decoration: none;
}

.shortcut-guide__title {
	margin-right: auto;
}

.shortcut-guide__button-label {
	margin-right: 0.5rem;
	font-weight: lighter;
}

.shortcut-guide__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.shortcut-guide__content {
	display: flex;
	justify-content: space-evenly;
}

.shortcut-guide__cell--title,
.shortcut-guide__cell--explanation {
	text-align: left;
	padding-left: 1rem;
}

.shortcut-guide__cell--explanation {
	font-weight: lighter;
}

.shortcut-guide__cell--shortcut {
	text-align: right;
}

.shortcut-guide__row--empty {
	padding-top: 1rem;
}
