/**
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3 of the License.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
 * Other licensing options may be available, please reach out to data-viz@feedzai.com for more information.
 */

/* The Modal (background) */
.a11y_modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1000; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	font-family: "Open Sans", sans-serif;
	font-size: small;
	color: #f5f5ff;
}

.a11y_no_scroll {
	overflow: hidden; /* disable scrolling on the main content */
}

/* Modal Content/Box */
.a11y_modal_content {
	border-radius: 25px;
	margin: 7% auto; /* 15% from the top and centered */
	padding: 1rem;
	padding-right: 2rem;
	padding-left: 2rem;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	border-radius: 21px;
	background: rgba(0, 0, 0, 0.77);
	backdrop-filter: blur(6.5px);
}

/* The Close Button */
#guide_close {
	color: #aaa;
	font-size: 25px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	height: 2rem;
}

#guide_close:hover,
#guide_close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#guide_close,
#guide_title,
#guide_close_sc {
	margin: 0;
}

#guide_title {
	margin-right: auto;
}

#guide_close_sc {
	margin-right: 0.5rem;
	font-weight: lighter;
}

#guide_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.a11y_flex_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.a11y_title {
	text-align: left;
	padding-left: 1rem;
}

.a11y_explanation {
	text-align: left;
	padding-left: 1rem;
	font-weight: lighter;
}

.a11y_shortcut {
	text-align: right;
}

.a11y_empty_row {
	padding-top: 1rem;
}
